<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<script src="../node_modules/angular-1.2.5.js"></script>
<script src="../node_modules/myApp.js"></script>
</head>
<div ng-app='myApp' ng-controller='myCtrl' ng-init="user={name:'aaaa',age:'bbbb'}; color='000000'">
<H4>Demo_{{ 100 - 99 }} , AngularJS</H4>
<input type ="text" ng-model="name" id='name' autofocus>
<input type ='text' ng-model="age" id='age'>
<P>{{user.name}}</p>
<P>{{user.age}}</p>
<p>{{color}}</p>
<ul>
	<li ng-repeat="char in array">{{char}}</li>
	<li ng-repeat="t in objects">{{t.name + " " + t.age}}</li>
</ul>

<form name ='myForm'>
<input type="email" id='email' name='email' ng-model="text" >
<span ng-show="myForm.email.$error.email">invalid email!</span>
</form>
<div ng-controller='myCtrl2'>
	<ul>
		<li ng-repeat="x in names"> {{x.Name + "  " + x.City + "  "  + x.Contry}}</li>
	</ul>
</div>
</div>
<body>
</body>
</html>
